<!-- Config file for the game -->

<config>
  <app>
    <title>Pinball</title>
    <organization>Physics 2</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <draw_margin value="1"/>
  </map>
  
  <scene>
    <default_map map="iso2.tmx"/>
  </scene>

</config>