<!-- Config file for the game -->

<config>
  <app>
    <title>Pinball</title>
    <organization>Physics 2</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1180" height="1054" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>
  
  <scene>
    <motor_speed value="25"/>
  </scene>

  <pinball>
    <offset x="50" y="0"/>
  </pinball>

</config>